/* Allgemeines Styling */

body {
    background-color: rgb(142, 139, 139);
    font-family: Helvetica Now Text;
    color: yellow;
}

h1 {
    text-align: center;
    color: aqua;
    font-size: 150px;
}

p {
    font-size: 18px;
    text-align: center;
    color: white;
}

.meineKlasse {
    font-size: 14px;
    color:coral;
}

img {
    display: block;
    margin: auto;
    width: 600px;


  }

h3 {
    text-align: center;
    color: aqua;
    font-size: 50px;

}

.video {
    width: 400px;
    height: 220px
}

.eigenschaft {
    font-size: 20px;
    color: white;
    text-align: center;
}


    h4 {
        text-align: center;
        color: aqua;
        font-size: 50px;
    }

    .nachwuchs {
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
    }

    .austoben {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }